<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Recommender System</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>

<style>
    .text-black{
    color:black
    }
</style>


<style>
    .text-white{
    color:white
    }
</style>

<body style="background-color:BLACK
">


 <nav class="navbar" style="background-color:#82E0AA">
<a  class="navbar-brand"><strong>My Book recommender</strong></a>
     <ul class="nav navbar-nav">
          <li><a href="/"><strong>Home</strong></a></li>
          <li><a href="/recommend"><strong>Recommend</strong></a></li>
          <li><a class="text-black"><strong>Contact</strong></a></li>
     </ul>

 </nav>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-white" style="font-size:50px">Top 50 Books</h1>
        </div>
        {% for i in range(book_name|length) %}
        <div class="col-md-3" style="margin-top:50px">
            <div class="card">
                <div class="card-body">
              <img class="card-img-top" src="{{ image[i] }}">
               <h4 class="text-white">{{ book_name[i] }}</h4>
                    <p class="text-white">{{ author[i] }}</p>
                     <p class="text-white">Votes- {{ votes[i] }}</p>
                     <p class="text-white">Rating- {{ rating[i] }}</p>
                </div>
            </div>
        </div>
        {% endfor%}


</div>









</body>
</html>